In [1]:
import pandas as pd
from collections import *
import re

In [2]:
df = pd.read_csv("../data/meta/Student-Newspapers.csv")
print df.shape

(646, 28)

In [3]:
df.columns

Index([u'Object Unique ID', u'Level', u'File name', u'File use',
       u'Type of Resource', u'Language', u'Title', u'Subtitle', u'Translation',
       u'Variant', u'Variant.1', u'Variant.2', u'Begin date', u'Date:creation',
       u'End date', u'File name 2', u'File use 2', u'Identifier:filename',
       u'Identifier:local', u'Note:local attribution', u'Note:note',
       u'Note:note.1', u'Note:note.2', u'Note:note.3', u'Note:publication',
       u'Note:publication.1', u'Note:series', u'Subject:topic'],
      dtype='object')

In [4]:
df_rel = df[['Object Unique ID', 'Begin date', 'Date:creation', 'End date', 'Title']]
df_rel.head(20)

,Object Unique ID,Begin date,Date:creation,End date,Title
0,http://library.ucsd.edu/ark:/20775/bb8806609v,1977-10-11,"October 11-25, 1977",1977-10-25,The New Indicator
1,http://library.ucsd.edu/ark:/20775/bb2970379j,1978-02-07,"February 7-20, 1978",1978-02-20,The New Indicator
2,http://library.ucsd.edu/ark:/20775/bb60420770,1969-11-12,"November 12, 1969",1969-11-12,The Indicator
3,http://library.ucsd.edu/ark:/20775/bb6519900h,1985-09-25,"September 25, 1985",1985-09-25,The University Report
4,http://library.ucsd.edu/ark:/20775/bb65198992,1986-02-01,February 1986,1986-02-28,California Review
5,http://library.ucsd.edu/ark:/20775/bb4403839b,1983-12-01,Winter 1983,1983-02-28,Revellations
6,http://library.ucsd.edu/ark:/20775/bb8431179p,1982-04-27,"April 27-May 10, 1982",1982-05-10,The New Indicator
7,http://library.ucsd.edu/ark:/20775/bb4813399r,1991-10-30,"October 30, 1991",1991-10-30,Revellations
8,http://library.ucsd.edu/ark:/20775/bb6963590v,1988-02-08,"February 8-22, 1988",1988-02-22,The New Indicator
9,http://library.ucsd.edu/ark:/20775/bb97281184,1977-11-01,November 1977,1977-11-30,Revellations
10,http://library.ucsd.edu/ark:/20775/bb59396880,1970-11-04,"November 4, 1970",1970-11-04,Third World
11,http://library.ucsd.edu/ark:/20775/bb6519898j,1965-05-12,"May 12, 1965",1965-05-12,Sandscript
12,http://library.ucsd.edu/ark:/20775/bb3482326c,1966-02-25,"February 25, 1966",1966-02-25,Sandscript
13,http://library.ucsd.edu/ark:/20775/bb8055747x,1980-10-21,"October 21-November 3, 1980",1980-11-03,The New Indicator
14,http://library.ucsd.edu/ark:/20775/bb22195182,1990-10-21,"October 21-November 14, 1990",1990-11-14,The New Indicator
15,http://library.ucsd.edu/ark:/20775/bb06154066,1985-05-21,"May 21-June 3, 1985",1985-06-03,The New Indicator
16,http://library.ucsd.edu/ark:/20775/bb96939916,1976-10-01,October 1976,1976-10-31,The New Indicator
17,http://library.ucsd.edu/ark:/20775/bb61444680,1982-11-01,November-December 1982,1982-12-31,California Review
18,http://library.ucsd.edu/ark:/20775/bb08884477,1987-02-03,"February 3-16, 1987",1987-02-16,The New Indicator
19,http://library.ucsd.edu/ark:/20775/bb6212731n,1986-01-14,"January 14-28, 1986",1986-01-28,The New Indicator

In [5]:
filenames = ["../data/Fulltext/Student Newspapers/" + f.split("20775/")[-1] + '-1.pdf.txt' for f in df['Object Unique ID'].tolist()]

In [6]:
print 'We have', len(filenames), 'files'
filenames[:4]

We have 646 files

['../data/Fulltext/Student Newspapers/bb8806609v-1.pdf.txt',
 '../data/Fulltext/Student Newspapers/bb2970379j-1.pdf.txt',
 '../data/Fulltext/Student Newspapers/bb60420770-1.pdf.txt',
 '../data/Fulltext/Student Newspapers/bb6519900h-1.pdf.txt']

In [7]:
docs = []
for filename in filenames:
    txt = open(filename)
    docs.append(txt.read())

In [8]:
docs[0].lower().count(" she ")

5

In [10]:
Counter(re.findall(r" he [\w']+", docs[0].lower()))

Counter({' he does': 1, ' he said': 1, ' he was': 1})

In [11]:
Counter(re.findall(r" she ", docs[0].lower()))

Counter({' she ': 5})

In [12]:
he_counts = []
she_counts = []
word_counts = []
for doc in docs:
    he_counts.append(doc.lower().count(" he "))
    she_counts.append(doc.lower().count(" she "))
    word_counts.append(len(re.findall("[a-zA-Z_]+", doc)))

In [13]:
df_rel["he_counts"] = he_counts
df_rel["she_counts"] = she_counts
df_rel["word_counts"] = word_counts
df_rel.head()

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Object Unique ID,Begin date,Date:creation,End date,Title,he_counts,she_counts,word_counts
0,http://library.ucsd.edu/ark:/20775/bb8806609v,1977-10-11,"October 11-25, 1977",1977-10-25,The New Indicator,3,5,5923
1,http://library.ucsd.edu/ark:/20775/bb2970379j,1978-02-07,"February 7-20, 1978",1978-02-20,The New Indicator,11,0,6107
2,http://library.ucsd.edu/ark:/20775/bb60420770,1969-11-12,"November 12, 1969",1969-11-12,The Indicator,41,1,13904
3,http://library.ucsd.edu/ark:/20775/bb6519900h,1985-09-25,"September 25, 1985",1985-09-25,The University Report,32,4,18034
4,http://library.ucsd.edu/ark:/20775/bb65198992,1986-02-01,February 1986,1986-02-28,California Review,68,9,21735

In [14]:
df_rel.to_csv("../results/student_pronoun_counts.csv", index = False)